---
import Layout from '@/layouts/default.astro'
import PostPreviewList from '@/components/PostPreviewList.astro'
import Button from '@/components/Button.astro'

const content = {
  title: 'Mage-OS | Community-Driven Commerce',
  description: 'Mage-OS is an open initiative to sustain and enrich the Magento platform and ecosystem.',
  socialTitle: 'Community-Driven Commerce',
  socialDescription: 'Mage-OS is an open initiative to sustain and enrich the Magento platform and ecosystem.'
}

const rawPosts = await Astro.glob('./blog/*.md')
const posts = rawPosts
  .map(({ url, frontmatter }) => ({ url, ...frontmatter }))
  .sort((a, b) => new Date(b.date) - new Date(a.date))
  .slice(0, 3)
---

<Layout content={content}>
  <div class="my-8 p-4 rounded-xl text-lead bg-secondary/75 text-center">
    Visiting us for the first time? <a href="/frequently-asked-questions" class="underline hover:no-underline">Read what we're all about</a>, <a href="http://chat.mage-os.org" class="underline hover:no-underline">stay informed</a>, or <a href="/distribution" class="underline hover:no-underline">start using a Mage-OS repository</a>!
  </div>
  
  <div class="my-8 text-md">
    <p class="pb-2"><strong>Mage-OS</strong> is an open initiative to ensure the accessibility, longevity, and success of the Magento<sup>®</sup> platform and ecosystem.</p>
    <p class="pb-2">The <a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/distribution">Mage-OS Distribution</a> is a backwards compatible, lightweight version of Magento Open Source packages. This includes changes and new features compared to Magento, as contributed by volunteers like you. We aim to stay compatible with all existing Magento 2 extensions and integrations as much as possible.</p>
    <p class="pb-2"><strong>It takes a village!</strong> <a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/get-involved">Join us</a>, and help create the future of open source ecommerce.</p>
  </div>
 
  <hr class="my-8 mx-auto w-1/2 border-gray-300 border-dashed" />

  <!-- <h2 class="my-8 text-2xl">How may we direct your call?</h2> -->
  <div class="flex flex-col lg:flex-row gap-8 text-lg">
    <div class="flex-1 p-4 bg-secondary/5 rounded-xl">
      <h3 class="mb-2 text-2xl font-semibold text-primary">Developers</h3>
      <ul class="pl-4 leading-relaxed">
        <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/distribution">Start using Mage-OS</a></li>
        <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/get-involved">Contribute to Mage-OS</a></li>
        <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/get-involved">Become a Member</a></li>
      </ul>
    </div>
    
    <div class="flex-1 p-4 bg-secondary/5 rounded-xl">
      <h3 class="mb-2 text-2xl font-semibold text-primary">Merchants</h3>
      <ul class="pl-4 leading-relaxed">
        <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/organization/about">What is Mage-OS?</a></li>
        <!-- <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/distribution/why-use-mage-os">Why use Mage-OS?</a></li> -->
        <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/get-involved">Support Mage-OS</a></li>
      </ul>
    </div>
    
    <div class="flex-1 p-4 bg-secondary/5 rounded-xl">
      <h3 class="mb-2 text-2xl font-semibold text-primary">Agencies</h3>
      <ul class="pl-4 leading-relaxed">
        <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/organization/about#who-we-are">Who is behind Mage-OS?</a></li>
        <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/get-involved">Support Mage-OS</a></li>
      </ul>
    </div>
  </div>
 
  <hr class="my-8 mx-auto w-1/2 border-gray-300 border-dashed" />
  
  <h2 class="my-8 text-2xl">Updates</h2>
  <PostPreviewList posts={posts} />

  <Button
    href="/blog/1"
    class="flex justify-center my-8 mx-auto max-w-xs"
  >
    View all updates
  </Button>
 
  <hr class="my-8 mx-auto w-1/2 border-gray-300 border-dashed" />
  
  <div id="opencollective-container" class="flex flex-col">
  </div>
  <span class="text-xl text-lg text-md order-1 order-2 order-3 order-4 order-5 order-6"></span>
  <script type="text/javascript">
    (function () {
      const loadTier = (tierId, settings) => {
        let titleBar = document.createElement('h4');
        titleBar.classList = 'text-2xl mb-2 text-center font-bold';
        titleBar.innerHTML = settings.title;
        
        let wrapper = document.createElement('div');
        wrapper.id = 'tier-' + tierId;
        wrapper.style.display = 'none';
        wrapper.classList = 'order-' + settings?.order;
        wrapper.appendChild(titleBar);
        
        document.getElementById('opencollective-container').appendChild(wrapper);
        
        let url = 'https://opencollective.com/mage-os/members/all.json';
        if ((tierId-0) > 0) {
          url += '?TierId=' + tierId;
        }
        
        fetch(url)
          .then(res => res.json())
          .then(out => renderTier(tierId, settings, out))
          .catch(err => { throw err });
      };
      
      const renderTier = (tierId, settings, contributors) => {
        if (contributors === {}) {
          return;
        }
        
        contributors.sort((a, b) => {
          return b.totalAmountDonated - a.totalAmountDonated;
        });
        
        let container = document.createElement('ul');
        container.classList = 'flex flex-wrap gap-4 my-8 w-full items-top justify-center';
        
        for (row of contributors) {
          if (row?.isActive !== true) {
            continue;
          }
          
          let name = row?.name.replace('"', "'").replace(/\<\>/g, '')
          let content = '<a href="' + row?.profile + '" class="block h-full flex flex-col font-medium text-center hover:bg-secondary/5 p-1 rounded-lg overflow-hidden" title="' + name + '">';
          content += '<img src="' + row?.image + '" alt="' + name + '" class="w-full rounded-lg">';
          content += '<span class="block flex-grow leading-none py-2 ' + settings?.text + '">' + name + '</span>';
          if (settings?.showTotal) {
            content += '<span class="text-sm text-gray-700 italic">$' + Math.round(row?.totalAmountDonated) + '</span>';
          }
          content += '</a>';
          
          let child = document.createElement('li');
          child.classList = settings?.size || 'w-28';
          child.innerHTML = content;
          container.appendChild(child);
        }
        
        if (container.children.length > 0) {
          document.getElementById('tier-' + tierId).appendChild(container);
          document.getElementById('tier-' + tierId).style.display = 'block';
        }
      };
      
      const init = () => {
        const tiers = {
          // "0": {title: "All Supporters", size: "", order: 1},
          "48128": {title: "Platinum Supporters", size: "w-60", text: "text-3xl font-semibold", order: 2, showTotal: false},
          "48129": {title: "Gold Supporters", size: "w-40", text: "text-xl", order: 3, showTotal: true},
          "48130": {title: "Silver Supporters", size: "w-32", text: "text-lg", order: 4, showTotal: true},
          "48131": {title: "Bronze Supporters", size: "w-24", text: "text-base", order: 5, showTotal: true},
          "44723": {title: "Professional Members", size: "w-16", text: "text-sm", order: 6, showTotal: false},
        };
        
        for (tierId in tiers) {
          loadTier(tierId, tiers[tierId]);
        }
      };

      if (document.readyState !== 'loading') {
        init();
      } else {
        document.addEventListener('DOMContentLoaded', init);
      }
    })();
  </script>
</Layout>
