---
import Layout from '@/layouts/default.astro'
import PostPreviewList from '@/components/PostPreviewList.astro'
import Button from '@/components/Button.astro'

const content = {
  title: 'Mage-OS | Community-Driven Commerce',
  description: '',
  socialTitle: 'Community-Driven Commerce',
  socialDescription: 'Mage-OS is an open initiative to sustain and enrich the Magento platform and ecosystem.'
}

const rawPosts = await Astro.glob('./blog/*.md')
const posts = rawPosts
  .map(({ url, frontmatter }) => ({ url, ...frontmatter }))
  .sort((a, b) => new Date(b.date) - new Date(a.date))
  .slice(0, 5)
---

<Layout content={content}>
  <div class="my-8 text-lg">
    <p class="pb-2"><strong>Mage-OS</strong> is an open initiative to ensure the accessibility, longevity, and success of the Magento<sup>®</sup> platform and ecosystem.</p>
    <p class="pb-2">The <a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/distribution">Mage-OS Distribution</a> is a backwards compatible, lightweight version of Magento Open Source packages. This includes changes and new features compared to Magento, as contributed by volunteers like you. We aim to stay compatible with all existing Magento 2 extensions and integrations as much as possible.</p>
    <p class="pb-2"><strong>It takes a village!</strong> <a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/get-involved">Join us</a>, and help create the future of open source ecommerce.</p>
  </div>
 
  <hr class="my-8 mx-auto w-1/2 border-gray-300 border-dashed" />

  <!-- <h2 class="my-8 text-2xl">How may we direct your call?</h2> -->
  <div class="flex flex-col lg:flex-row gap-8">
    <div class="flex-1 p-4 bg-secondary/5 rounded-xl">
      <h3 class="mb-2 text-2xl font-semibold text-primary">Developers</h3>
      <ul class="pl-4 leading-relaxed">
        <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/distribution">Start using Mage-OS</a></li>
        <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/get-involved">Contribute to Mage-OS</a></li>
        <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/get-involved">Become a Member</a></li>
      </ul>
    </div>
    
    <div class="flex-1 p-4 bg-secondary/5 rounded-xl">
      <h3 class="mb-2 text-2xl font-semibold text-primary">Merchants</h3>
      <ul class="pl-4 leading-relaxed">
        <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/organization/about">What is Mage-OS?</a></li>
        <!-- <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/distribution/why-use-mage-os">Why use Mage-OS?</a></li> -->
        <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/get-involved">Support Mage-OS</a></li>
      </ul>
    </div>
    
    <div class="flex-1 p-4 bg-secondary/5 rounded-xl">
      <h3 class="mb-2 text-2xl font-semibold text-primary">Agencies</h3>
      <ul class="pl-4 leading-relaxed">
        <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/organization/about#who-we-are">Who is behind Mage-OS?</a></li>
        <li class="list-disc"><a class="underline hover:text-primary hover:no-underline transition-colors decoration-gray-400 underline-offset-2" href="/get-involved">Support Mage-OS</a></li>
      </ul>
    </div>
  </div>
 
  <hr class="my-8 mx-auto w-1/2 border-gray-300 border-dashed" />
  
  <h2 class="my-8 text-2xl">Updates</h2>
  <PostPreviewList posts={posts} />

  <Button
    href="/blog/1"
    class="flex justify-center my-8 mx-auto max-w-xs"
  >
    View all updates
  </Button>
</Layout>
