---
import Layout from '@/layouts/default.astro'
import PostPreviewList from '@/components/PostPreviewList.astro'
import Button from '@/components/Button.astro'

const rawPosts = await Astro.glob('./blog/*.md')
const posts = rawPosts
  .map(({ url, frontmatter }) => ({ url, ...frontmatter }))
  .sort((a, b) => new Date(b.date) - new Date(a.date))
  .slice(0, 5)
---
<Layout>
  <PostPreviewList posts={posts} />

  <Button
    href="/blog/1"
    class="flex justify-center mt-4"
  >
    View all posts
  </Button>
</Layout>
