---
import Layout from '@/layouts/default.astro'
import PostPreviewList from '@/components/PostPreviewList.astro'
import Button from '@/components/Button.astro'

const rawPosts = await Astro.glob('./blog/*.md')
const posts = rawPosts
  .map(({ url, frontmatter }) => ({ url, ...frontmatter }))
  .sort((a, b) => new Date(b.date) - new Date(a.date))
  .slice(0, 5)
---

<Layout>
  <div class="my-8">
    <p class="pb-2">Mage-OS is a community-driven initiative to ensure the continued innovation and success of the Magento<sup>®</sup> platform.</p>
    <p class="pb-2">We invite everyone to join us, and help create the future of open source ecommerce.</p>
  </div>

  <h2 class="py-4 text-2xl">Updates</h2>
  <PostPreviewList posts={posts} />

  <Button
    href="/blog/1"
    class="flex justify-center my-8 mx-auto max-w-xs"
  >
    View all updates
  </Button>
</Layout>
