---
const props = Astro.props
const styles = `
  py-2 px-4
  border border-primary
  font-bold text-primary
  hover:bg-primary hover:text-white
  transition rounded
`

if (props.class) {
  props.class = props.class + ' ' + styles
}
else {
  props.class = styles
}

---
<a
  {...props}
>
  <slot />
</a>
