---
const year = new Date().getFullYear()
---
<footer
  class="
    flex flex-col md:flex-row justify-between gap-4
    mt-8 py-6
    border-t border-gray-400 text-gray-600
  "
>
  <div class="flex gap-4">
    <a href="/newsletter">Newsletter</a>
    <a href="/imprint">Imprint</a>
    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/code-of-conduct">Code of Conduct</a>
  </div>

  <p>
    {year} &copy; Mage Open Source Community Alliance
  </p>
</footer>
