---
const year = new Date().getFullYear()
---
<footer
  class="
    mt-8 py-8
    border-t border-gray-400 text-gray-600
  "
>
  <div class="flex flex-col md:flex-row justify-between gap-4 md:gap-8 w-auto lg:float-left">
    <a class="hover:text-primary transition-colors" href="/newsletter">Newsletter</a>
    <a class="hover:text-primary transition-colors" href="https://discord.gg/nvZDVA2NdC" target="_blank" rel="noopener">Discord</a>
    <a class="hover:text-primary transition-colors" href="/imprint">Imprint</a>
    <a class="hover:text-primary transition-colors" href="/privacy-policy">Privacy Policy</a>
    <a class="hover:text-primary transition-colors" href="/code-of-conduct">Code of Conduct</a>
  </div>
  
  <p class="text-center lg:text-right pt-8 lg:pt-0">
    {year} &copy; The Mage-OS Association
  </p>

  <p class="pt-8 text-sm text-gray-400 clear-both">Magento<sup>®</sup> is a registered trademark of Adobe Inc. Mage-OS is not associated with Adobe or Magento Open Source in any way.</p>
</footer>
