---

---
<header class="mb-4">
  <a
    href="/"
    class="
      block
      py-8
      text-2xl md:text-3xl text-center
      font-semibold
      text-gray-600 hover:text-primary
      transition-colors
    "
  >
    Magento Open Source <br />
    Community Alliance
  </a>
</header>
