---

---
<header class="mb-4">
  <a
    href="/"
    class="
      block
      py-8
      text-gray-600 hover:text-primary
      transition-colors
    "
  >
    <span
      class="
        block
        text-2xl md:text-3xl text-center
        font-semibold
      "
    >
      Mage-OS
    </span>

    <span
      class="
        block
        text-center
      "
    >
      The Magento OS Community Alliance
    </span>
  </a>
</header>
