---
import { generateSocialImage } from 'astro-social-images'
import MetaTags from '@/utils/MetaTags.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'

const stylesUrl = Astro.resolve('../assets/styles/global.css')

const { content } = Astro.props
const title = content?.title || 'Mage-OS'
const description = content?.description || 'The Magento OS Community Alliance'


const image = generateSocialImage({
  backgroundColor: '#0f172a',
  images: [
    { url: 'public/social-preview-background.png', attributes: { x: 0, y: 0 } }
  ],
  texts: [
    {
      content: content?.title || 'The future of Magento',
      attributes: { x: '55', y: '105', 'font-size': '70px', fill: '#f8fafc', style: 'font-family: Montserrat; z-index: 1000;' },
    },
    {
      content: 'Mage-OS',
      attributes: { x: '980', y: '600', 'font-size': '40px', fill: '#ea580c', style: 'font-family: Montserrat; z-index: 1000;' },
    }
  ]
}, {
  urlPath: 'https://mage-os.org/',
  publicDir: 'dist/'
})
---
<!doctype html>
<html lang="en">
  <head>
    <style>
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/montserrat-400-v1.woff2') format('woff2');
        font-display: block;
      }
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        src: url('/fonts/montserrat-600-v1.woff2') format('woff2');
        font-display: block;
      }
    </style>

    <!-- Core styles -->
    <link id="inline-styles" rel="stylesheet" href={stylesUrl} />

    <link rel="alternate" type="application/rss+xml" title="Mage OS RSS Feed" href="/rss.xml" />

    <MetaTags
      title={ title }
      description={ content?.description || description }
      image={ image.url }
    />
  </head>

  <body
    class="
      bg-white
      text-gray-800 font-sans antialiased
    "
  >
    <div
      id="content"
      class="mx-auto max-w-4xl px-4 md:px-0"
    >
      <Header />

      <main>
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
